body {
background-color: rgb(103, 116, 130);
color: rgb(193, 249, 193);
}
#bop {
    padding: 10px;
background-color: rgba(165, 42, 42, 0.806);
display: flex;
justify-content: center;
align-items: center;
}
footer {
    padding: 25px;
    background-color: rgba(165, 42, 42, 0.806);
    display: flex;
justify-content: center;
align-items: center;
}

#shell {
max-width: 40px;
}
    ul {
        display:flex;
    }
    li {
        list-style: none;
    }

    #click {
        background-color: rgb(193, 249, 193);
        padding: 5px;
        color: rgba(165, 42, 42, 0.806);
    }