body {
    background-color: rgb(233, 235, 237);
}
#Send {
    color: white;
    background-color: rgb(9, 124, 255);
    padding: 12px;
    width: 75px;
    border-radius: 3px;
}
#Select {
    width: 500px;
    padding: 5px;
}
#Message {
padding: 150px;
width: 200px;
}
#Name {
    width: 485px;
    padding: 5px;
}
#Email {
    width: 485px;
    padding: 5px;
}
form {
border: 1px solid rgb(158, 155, 155) ;
padding: 75px;
background-color: rgb(255, 255, 255);
}
div {
    display: flex; justify-content: center;
    max-width: 6000px;
}
#Contact {
    display: flex; justify-content: center;
}
#Prgph1 {
    display: flex; justify-content: center;
}
input[type="text"]:valid {
 border: solid 2px green;
}
input[type="text"]:invalid {
   border: solid 2px red;
}
input[type="email"]:valid {
    border: solid 2px green;
   }
   input[type="email"]:invalid {
      border: solid 2px red;
   }