#content {
    border: 8px;px}
h1{
    color: rgb(255, 0, 0);
    background-color:yellowgreen ;
}
.quoteContent
{
    margin: 5px;px
    text-align: ;
    
}
div  {
    background-color: blanchedalmond;
}