.site-hero {
    background-image: url("https://images.unsplash.com/photo-1560493676-04071c5f467b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZmFybXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60") ;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text h2 {
    margin: 0;
    font-size: 2cm;
  color: aliceblue;
  text-shadow: 10px 5px 5px black;
}
.hero-text {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: aliceblue;

}
#row1 {
    display: grid;
    grid-template-columns: 0.5cm  1fr;
}
#row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr ;
}
#row3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.carousel-item {
height: 50vh;
}
img {
    height: 100%;
}
.btn-primary :hover {
color: white;
}
.btn-primary {
color: #e1a177;
background-color: black;
padding: 1px;

}