.site-hero {
    background-image: url("../assets/branding/wood_bkgrnd.jpg") ;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text h2 {
    margin: 0;
    font-size: 2cm;
  color: aliceblue;
}
.hero-text {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: aliceblue;
    text-shadow:10px 5px 5px rgb(0, 234, 255) ;
}
#row1 {
    display: grid;
    grid-template-columns: 1px 1fr 1fr;
}
#row2 {
    display: grid;
    grid-template-columns: 1px 1fr 1px ;
}
#row3 {
    display: grid;
    grid-template-columns: 1px 1fr 1px;
}
