nav {
    padding: 5px;
    background-color: rgb(56, 201, 187);
}

img {
    padding-left: 35px;
width: 5in;
}
btn:hover {
    color: black;
}
    .btn:hover{
     color: black;
    }
ul {
    display:flex;
}
li {
    list-style: none;
}
.btn {
    
    color: white;
    border: 2px;
    padding: 1em;
    transition: 0.35s;
    text-decoration: black;
}

.body {
    background-color: rgb(235, 209, 175);
    margin:0px;
}
img {
    width: 300px;
    grid-column-start: hori;
}
#Container {
    display:flex;
}
.dropdown-menu {
position: absolute;
opacity: 0;
z-index: 99;
color: black;
}
.drop-down:hover .dropdown-menu {
opacity: 1;
display: flexbox;
background-color: blanchedalmond;
padding: 20px;
}
a {
    color: black;
    margin: 10px;
}
a:hover {
    color: grey;
}

@media all and (max-width: 500px) 